.footer {
    background-color: rgb(56, 56, 56);
    margin-top: 150px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.icons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.icons i {
    max-width: 40px;
    color: white;
    cursor: pointer;
    margin: 0 10px;
    transition: .3s;
}
.icons i:hover {
    transform: scale(1.2);
}
.footer h3 {
    color: rgb(206, 206, 206);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    margin-top: 15px;
    width: 100%;
    text-align: center;
}
.footer h3:hover {
    color: #fff;
}