@import "header.css";
@import "footer.css";

.projects_section {
    width: 65%;
    max-width: 800px;
    margin: 0 auto;
    font-family: calibri;
    margin-top: 40px;
}
@media (max-width: 968px) {
    .projects_section {
        width: 88%;
    }
}
.projects_section h1 {
    font-size: 34px;
    color: rgb(122, 43, 226);
}
.projects_section h2 {
    color: rgb(77, 77, 77);
    font-size: 25px;
}
.projects_img {
    margin-top: 25px;
    width: 100%;
}
.cfm, .papc, .caw, .pfw {
    margin-top: 30px;
}
.projects_section p {
    margin-top: 20px;
}
.projects_section a {
    padding: 15px 20px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(70, 207, 143);
    margin: 30px 0 30px 0;
    display: block;
    width: 100%;
    min-width: 200px;
    max-width: 300px;
    text-align: center;
    border-radius: 5px;
    transition: .3s;
}
.projects_section a:hover {
    background: rgb(0, 179, 95);
}
.projects_section i {
    margin-right: 10px;
}
